.node-uw-project .content_node .field-items {
  padding-bottom: 3px;
}
.field-name-field-project-leaderrole .content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1em;
}
.view-uw-project-views .view-content .views-row {
  margin-bottom: 0.5em;
}
.view .project-title {
  border: medium none;
  font-size: 1.1em;
  font-weight: normal;
  margin-bottom: 0.2em;
  margin-top: 0.6em;
}
.item-list .view-all-topics {
  margin-left: 10em;
  margin-bottom: 0.5em;
}
#edit-field-show-edate fieldset.fieldset-invisible > legend:first-child {
  display: none;
}
.view-uw-project-page .views-field-field-project-image img {
  float: left;
  margin-right: 1em;
  margin-top: 0.4em;
}
.region-sidebar-second .view-id-strategic_alignment_block .views-row {
  padding-bottom: 0em;
}
.field-last-update {
  margin-top: 1em;
}
#uw-ct-project-search-block-form abbr.form-required {
  display: none;
}
#uw-ct-project-search-block-form input {
  max-width: 210px;
}
#uw-ct-project-search-block-form {
  margin-bottom: 1em;
}
